/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #f37e6a, #fda170);
}

.box-shadow {
  box-shadow: 10px 10px 5px #c67655;
}

.result {
  background-color: #34394d;
}

.numbers {
  background-color: #eeeeee;
}

.gray-operator {
  background-color: #cdcdcd;
}

.orange-operator {
  background-color: #fda170;
}

.orange-equal {
  background-color: #f88d6d;
}
